<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{inputCust.firstName}} {{inputCust.lastName}}</h3>
    </div>
    <div class="panel-body">
        <div class="row pull-left">
            <div class="col-lg-12 pull-left"><strong>Age&nbsp;:&nbsp;</strong>{{inputCust.age}}</div>
            <div class="col-lg-12 pull-left"><strong>Phone&nbsp;:&nbsp;</strong>{{inputCust.phone}}</div>
            <div class="col-lg-12 pull-left"><strong>e-mail&nbsp;:&nbsp;</strong>{{inputCust.email}}</div>
        </div>
    </div>
</div>